


#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #625b78;
    border-radius: 18px;
    
  }
  
  #table td, #table th {
    border: 0px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){
      background-color: #555555;
  }
  
  #table tr:hover {
      background-color: #737389;
      color: white;
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    text-align: left;
    color: #c9dd69;
    background-color: #353e69de;
    border-radius: 0px;
    border-bottom: 3px solid #ddd;
    
  }
  
  @media screen and (max-width: 500px) {
      #toolbar {
          justify-content: right;
      }
  }
  