

.admin-login-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* Adjust as per your design */
  margin: auto;
  
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #555;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4F96FF; /* Use the color that matches your design */
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #3b82f6; /* Slightly lighter blue for hover effect */
}


  
.fade-out {
  animation: fadeOutAnimation 3.2s;
}

@keyframes fadeOutAnimation {
  from { opacity: 1; }
  to { opacity: 0; }
}