
.oauth {
    padding: 12px;
    margin-right: 0px;
    font-size: 16px;
    color: #817caa;
    cursor: pointer;
}

.hr {
    border: 1px solid rgb(117, 115, 115);   
    width: 50%;
    border-radius: 10px;
}

.error-message {
    color: rgb(164, 56, 56);
    font-size: 22px;
}



.error-box {
    border-left: none;
    border-right: none;
}

.error-box.show {
    visibility: visible; /* Show when there's an error */
}



.fade-out {
    animation: fadeOutAnimation 3.2s;
  }
  
  @keyframes fadeOutAnimation {
    from { opacity: 1; }
    to { opacity: 0; }
  }