


.hr {
    border: 0px solid rgba(117, 115, 115, 0.3);   
}

.error-message {
    color: rgb(164, 56, 56);
    font-size: 22px;
}



.error-box {
    border-left: none;
    border-right: none;
}

.error-box.show {
    visibility: visible; /* Show when there's an error */
}



.fade-out {
    animation: fadeOutAnimation 3.2s;
  }
  
  @keyframes fadeOutAnimation {
    from { opacity: 1; }
    to { opacity: 0; }
  }