
/* Light theme (default) styles */
.button {
   
    background-color: var(--button-background);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0px solid var(--button-border);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    transform: scale(1);
}

.button:hover {
    background-color: var(--button-hover);
    border: 1px soild var(--button-border);
}

.button:active {
    transform: scale(0.95);
    background-color: var(--button-click);
    border: 1px soild var(--button-border);
}


/* Dark theme styles */
body.dark .button {
    background-color: #484444;/*rgb(47, 66, 44);var(--button-background-dark);   /* Darker gray background */
    color: "#817Daa";              /* Lighter text */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    transform: scale(1);
    /* ... any other styles that should change in dark mode */
}

body.dark .button:hover {
    background-color:#817Daa;/*var(--button-hover-dark);*/
    border: 1px soild var(--button-border);
    color: white;
}

body.dark .button:active {
    transform: scale(0.95);
    background-color: var(--button-click-dark);
    border: 1px soild var(--button-border);
}
