.floating-label-container {
  position: relative;
  margin-top: 1rem;
  border: 1px solid #817caa; 
  border-radius: 8px;
  /*width: 400px;
  will change width*/
}

.floating-label-input {
  border-bottom: 1px solid #817caa;  /*#4c3cc7;*/
  border-radius: 8px;
  padding: 10px 12px;
  transition: all 0.3s ease;
  background-color: rgb(33, 33, 33);
  /* Make the input background transparent */
  z-index: 1;
  /* Ensure input is above the pseudo element */
  font-size: 18px;
  /*width: 350px;
   will change width*/
  color: rgb(112, 110, 110);
  border: none;
}

.floating-label-input:focus {
  border-color: #007bff;
  color: rgb(112, 110, 110);
  border: none;
}

.floating-label-input::placeholder {
  color: black;
}

.floating-label {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-size: 16px;
  color: #757272;
  transition: all 0.3s ease;
  background-color: transparent;
  /* Match the background of your page or container */
  padding: 0 4px;
  /* Some padding to prevent text touching the border */
  z-index: 2;
  /* Ensure label is above the pseudo element */
  border: none;
}

body.dark .floating-label {
  background-color: transparent; /*var(--body-background-dark-0);*/
  /* thats all it is */
}

.floating-label-input:focus+.floating-label,
.floating-label-input:not(:placeholder-shown)+.floating-label {
  bottom: 46px;
  font-size: 12px;
  color: #007bff;
}

/* Pseudo-element for the cutout effect */
/* Pseudo-element for the cutout effect, but hidden by default */
.floating-label-container:before {
  content: '';
  position: absolute;
  left: 8px;
  /* Adjust to match label's initial position */
  bottom: 26px;
  /* Adjust to match label's "floating" position */
  height: 20px;
  /* Adjust based on the size of the label */
  width: 120px;
  /* Make this wider than the label's max width */
  background-color: transparent;
  /* Match the background of your page or container */
  z-index: 0;
  /* Ensure this is below the input and label */
  visibility: hidden;
  /* Hide by default */

}

/* Show the pseudo-element (cutout effect) when input is focused or has content */
.floating-label-input:focus+.floating-label+.floating-label-container:before,
.floating-label-input:not(:placeholder-shown)+.floating-label+.floating-label-container:before {
  visibility: visible;
}
