
 * {
  box-sizing: border-box;
 }

 a:link {
  color: rgb(0, 3, 163);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 3, 163);
}

/* mouse over link */
a:hover {
  color: rgb(255, 194, 80);
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

/* Default and global CSS*/
:root {
  --body-background: rgb(248, 234, 208);
  --body-background-dark: rgb(19, 18, 17);
  --body-background-dark-1: rgb(49, 46, 44);
  --body-background-dark-0: rgb(18, 17, 16);

  --button-background: rgb(228, 210, 175);/*rgb(202, 186, 157);*/
  --button-hover:  rgb(202, 186, 157);
  --button-click:  rgb(228, 210, 175);
  --button-border: black;

  --button-background-dark: rgb(61, 58, 58);
  --button-hover-dark: rgb(77, 74, 74);
  --button-click-dark: rgb(134, 113, 113);
  --button-border-dark: black;
}


/* default light theme */
body {
  background-color: var(--body-background);


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* dark theme */
body.dark {
  background-color: var(--body-background-dark-1);
}