.App {
  text-align: center;
}

/* default light theme */
body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}

/* dark theme */
body.dark {
  background-color: black;
  color: white;
}